.icono-editar, .icono-eliminar{
    cursor: pointer;
}
.icono-editar:hover, .icono-eliminar:hover{
    color: var(--color2);
}

#directores table i{
    display: none;
}

.mostrarIconos i{
    display: inline!important;
}